body{
   margin: 0px;
}
header{
   display: flex;
   justify-content:center;
   background-color: transparent;
   height: 100px;
   margin: 0px;
   background-color: rgb(0, 0, 0);
   position: sticky;
   top: 0vh;
   }
     .logofk{
      height: 100px;
      width: 130px;
      margin-right: 100px;
      margin-top: 3px;
      }
   nav{ 
      display: flex;
      width: 60vw;
      justify-content: center;
      align-items: center;
      }
      .uldanav{
         list-style-type:none;
         width: 40vw;
         }
         li{
            display: inline-block;
            }
            li .links-nav{
            color: aliceblue;
            text-decoration: none;
            letter-spacing: 2px;
            padding: 30px;
            font-family: Arial, Helvetica, sans-serif;
            }
            .links-nav:hover{
               border-bottom: 5px solid rgb(99, 178, 252);
               transition-delay: 0.2s;
               border-bottom-left-radius: 30px;
               border-bottom-right-radius: 30px;
            }
.container-wallpaper-galeria{
   width: 100%;
   height: 100vh;
   background-image: url(imagensIndex/capabody.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   display: flex;
   justify-content: center;
   align-items: center;
}
         .galeria-container{
         width: 80vw;
         height: 80vh;
         display: flex;
         justify-content: space-evenly;
         align-items:center;
         flex-wrap: wrap;
         row-gap: 15px;
         gap: 15px;
         background-color: rgba(0, 0, 0, 0.582);
         box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.699);
         border-radius: 50px;
         }       
               .galeria-conteudo{
                width: 300px;
                height: 50vh;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                background-color: transparent;
                color: aliceblue;
                border-right: 5px solid rgb(0, 0, 99);
                border-bottom: 5px solid rgb(0, 0, 99);
                border-bottom-right-radius: 30px;
               }
               .galeria-conteudo:hover{
               border-right: 5px solid rgb(4, 219, 219);
               border-bottom: 5px solid rgb(4, 219, 219);
               transition-delay: 0.1s;
               }
   .lista-manuntencao{
      width: 150px;
      font-size: 18px;
   }
  main{
   width: 900px;
   margin-left: auto;
   margin-right:auto;
  }
  footer{
   width: 100%;
   height: 150px;
   background-color: rgba(0, 0, 0);
   display: flex;
   align-items: center;/*alinhamento vertical, quando se tem apenas o conteudo em uma linha*/
   justify-content: center; /*alinhamento horizontal de conteudo*/
   /* display: flex; por padrão tem a propriedade de NoWrap, não quebra linha, caso os filhos precisem*/
   /*mas pode ser feito com a; "flex-wrap:wrap;" dessa forma podera quebrar linhas */
   /*align-content; flex-start: alinha quando quando se tem mais de uma linha, e precisa esta com o flex-wrap;wrap, com quebra de linha*/
   /*Flex-direction: serve para colocar em coluna, linha, coluna reversa, linha reversa;*/
   /*Flex-basis: 100px, serve para pegar um elemento dentro do container, e aplicar uma largura se estiver em row, ou altura se estiver em column com um flex-direction*/
   /*flex-grow; 1; vai pegar o espaço do inicio e fim, e aplicar em um unico elemento que eu selecionar*/
   /*gap; 100px; cria um espaço entre os elementos, uma especié de margin.*/
   /*order; 0; por padrão é 0, e cada numero que se coloca, 1,2,3 é a ordem que vai mudar dos elementos*/
   /*align-self: flex-end, start; serve para alinhar cada elemento próprio, e não o container*/
      }
      .rodapé{
         width: 350px;
         height: 100px;
         color: white;
         text-align:center;
         text-decoration:up ;
         font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
         letter-spacing: 3px;
      }
   
     
  
      